.home {
    width: 100%;
    min-height: 100vh;
    background-color: #0f0f0f;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
  }
  