@import '../../../../styles/variables';

.notificationsPanel {
  background-color: lighten($black, 5%);
  border: 1px solid $gray;
  border-radius: 16px;
  padding: $spacing-inside;
  margin-top: $spacing-large;

  h2 {
    font-size: 24px;
    font-weight: 700;
    color: $white;
    margin-bottom: $spacing-inside;
  }
}

.notificationsList {
  display: flex;
  flex-direction: column;
  gap: $spacing-inside;
}

.notification {
  background-color: lighten($black, 8%);
  border: 1px solid $gray;
  padding: $spacing-inside;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    border-color: $gold;
    background: lighten($black, 12%);
  }
}

.content {
  display: flex;
  flex-direction: column;
  
  p {
    color: $white;
    font-size: 14px;
    margin-bottom: 4px;
  }

  .time {
    font-size: 12px;
    color: $gray;
  }
}

.dot {
  width: 10px;
  height: 10px;
  background-color: $gold;
  border-radius: 50%;
}

.read {
  .dot {
    background-color: $gray;
  }
}
